{% extends "base.html" %}
{% block content %}
    <style>
        .use-flexbox div {
            width: 100px;
            height: 50px;
            background: #099;
        }
    </style>
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pid Mode</li>
    </ol>
    </nav>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col align-self-center">
                <h3>輸入 PID</h3>
                <span class="badge">New Mode</span><br><br>
                <form action="/pid_mode" method="post">
                    <input type="text" name="pid">
                    <input type="submit" name="goto_pid" class="btn btn-primary" value="確認">
                </form>
            </div>
            <div class="col align-self-center">
                <ul>
                    <li>如何取得 PID?
                        <ol>
                            <li>網址處 / 最後幾個數字</li>
                            <li>在 <code>顯示圖片</code> 處，選取複製PID</li>
                        </ol>
                    </li>
                    <li>此模式為存取 Server 端已儲存的資料，若後端暫存資料已清除，則無法使用</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
