{% extends "base.html" %}
{% block content %}
    <style type="text/css">

        ul {
            list-style-type: none;
        }

        li {
            display: inline-block;
        }

        input[type="checkbox"][id^="cb"] {
            display: none;
        }

        label {
            border: 1px solid #fff;
            padding: 10px;
            display: block;
            position: relative;
            margin: 10px;
            cursor: pointer;
        }

        label:before {
            background-color: white;
            color: white;
            content: " ";
            display: block;
            border-radius: 50%;
            border: 1px solid grey;
            position: absolute;
            top: -5px;
            left: -5px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 28px;
            transition-duration: 0.4s;
            transform: scale(0);
        }

        label img {
            height: 200px;
            transition-duration: 0.2s;
            transform-origin: 50% 50%;
        }

        :checked + label {
            border-color: #ddd;
        }

        :checked + label:before {
            content: "✓";
            background-color: grey;
            transform: scale(1);
        }

        :checked + label img {
            transform: scale(0.9);
            box-shadow: 0 0 5px #333;
        }

        .fab1 {
            width: 60px;
            height: 60px;
            background-color: rgba(0, 0, 0, 1);
            border-radius: 50%;
            transition: all 0.1s ease-in-out;
            font-size: 15px;
            color: white;
            text-align: center;
            line-height: 50%;
            position: fixed;
            right: 20px;
            bottom: 50px;
        }

        .fab1:hover {
            box-shadow: 0 6px 14px 0 #666;
            transform: scale(1.05);
        }

        .fab2 {
            width: 60px;
            height: 60px;
            background-color: rgba(0, 0, 0, 0.73);
            border-radius: 50%;
            transition: all 0.1s ease-in-out;
            font-size: 20px;
            color: white;
            text-align: center;
            line-height: 50%;
            position: fixed;
            right: 20px;
            bottom: 120px;
        }

        .fab2:hover {
            box-shadow: 0 6px 14px 0 #666;
            transform: scale(1.05);
        }
    </style>

    <script type="text/javascript">
        function all_select() {
            cb = document.getElementsByTagName('input')
            for (var i = 0; i < cb.length; i++) {
                if (cb[i].type == "checkbox")
                    cb[i].checked = true
            }
        }

        function all_not_select() {
            cb = document.getElementsByTagName('input')
            for (var i = 0; i < cb.length; i++) {
                if (cb[i].type == "checkbox")
                    cb[i].checked = false
            }
        }

        function all_rev_select() {
            cb = document.getElementsByTagName('input')
            for (var i = 0; i < cb.length; i++) {
                if (cb[i].type == "checkbox") {
                    cb[i].checked = cb[i].checked == true ? false : true
                }
            }
        }

        function th_select(t) {
            cb = document.getElementsByTagName('input')
            for (var i = 0; i < cb.length; i++) {
                var tmp = cb[i].id.split('_')
                if (cb[i].type == "checkbox" && tmp[1] == t) {
                    cb[i].checked = true
                }
            }
        }

        function th_not_select(t) {
            cb = document.getElementsByTagName('input')
            for (var i = 0; i < cb.length; i++) {
                var tmp = cb[i].id.split('_')
                if (cb[i].type == "checkbox" && tmp[1] == t) {
                    cb[i].checked = false
                }
            }
        }

        function th_rev_select(t) {
            cb = document.getElementsByTagName('input')
            for (var i = 0; i < cb.length; i++) {
                var tmp = cb[i].id.split('_')
                if (cb[i].type == "checkbox" && tmp[1] == t) {
                    cb[i].checked = cb[i].checked == false ? true : false;
                }
            }
        }
    </script>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index">Home</a></li>
            <li class="breadcrumb-item"><a href="/page_mode">Page Mode</a></li>
            <li class="breadcrumb-item active" aria-current="page">Picking Pictures</li>
        </ol>
    </nav>
    <div class="container" id="container">
        <form action="/show_image1/{{ pid }}" method="POST">
            {#            Button for all#}
            <div class="btn-group" role="group" aria-label="all_check_box">
                <button type="button" class="btn btn-light" onclick="all_select()">全選</button>
                <button type="button" class="btn btn-light" onclick="all_not_select()">全不選</button>
                <button type="button" class="btn btn-light" onclick="all_rev_select()">反向選擇</button>
            </div>
            {#        download json button#}
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="left" title="下載 json">
                <button type="submit" class="fab1" name="download_json">↓ json</button>
            </span>
            {#        download image button#}
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="left" title="下載圖片">
                <button type="submit" class="fab2" name="download_image">↓</button>
            </span>
            <br><br>
            <div class="row">
                <div class="card-group">
                {% for da in data %}
                    <div class="col-sm-3 mb-4">
                        <div class="card bg-light text-center border-dark" id="card{{ da['id'] }}" style="height: 400px">
                            <p class="card-title">{{ da['title'] }}</p>
                            <div class="card-body align-items-center d-flex justify-content-center">
                            {% if da['img_link']|length > 0 %}
                                <img class="card-img-top" src="{{ da['img_link'][0] }}" style="max-height: 250px"
                                     alt="Loading...">
                            {% else %}
                                <img class="card-img-top" src="{{ url_for('static', filename='no-image.png') }}"
                                     width="200px" alt="Loading...">
                            {% endif %}
                            </div>

                            <div class="card-footer">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-dark text-dark" data-toggle="modal"
                                            data-target="#modal{{ da['id'] }}">選取圖片
                                    </button>
                                    <button type="button" class="btn btn-outline-dark text-dark dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        工具
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <button type="button" class="dropdown-item"
                                                onclick="th_select({{ da['id'] }})">
                                            此文全選
                                        </button>
                                        <button type="button" class="dropdown-item"
                                                onclick="th_not_select({{ da['id'] }})">
                                            此文全不選
                                        </button>
                                        <button type="button" class="dropdown-item"
                                                onclick="window.open('{{ da['url'] }}')">
                                            看原文
                                        </button>
                                        {#                                <button type="button" class="dropdown-item" data-toggle="modal"#}
                                        {#                                        data-target="#ModalArticle{{ da['id'] }}">顯示內文#}
                                        {#                                </button>#}
                                    </div>
                                </div>


                            </div>


                            <!--modal-->
                            <div class="modal fade" id="modal{{ da['id'] }}" role="dialog" tabindex="-1"
                                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content" style="background: rgba(255, 255, 255, 0.10);">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-white">{{ da['title'] }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <br>
                                        </div>
                                        <div class="modal-body">
                                            <div role="group" aria-label="th_check_box">
                                                <button type="button" class="btn btn-outline-light"
                                                        onclick="th_select({{ da['id'] }})">
                                                    此文全選
                                                </button>
                                                <button type="button" class="btn btn-outline-light"
                                                        onclick="th_not_select({{ da['id'] }})">
                                                    此文全不選
                                                </button>
                                                <button type="button" class="btn btn-outline-light"
                                                        onclick="th_rev_select({{ da['id'] }})">
                                                    反向選擇
                                                </button>
                                                <button type="button" class="btn btn-outline-light"
                                                        onclick="window.open('{{ da['url'] }}')">
                                                    看原文
                                                </button>
                                                <button type="button" class="btn btn-outline-light" data-toggle="modal"
                                                        data-target="#ModalArticle{{ da['id'] }}">顯示內文
                                                </button>
                                            </div>
                                            <ul>
                                                {% for link in da['img_link'] %}
                                                    <li>
                                                        <input type="checkbox"
                                                               name="cb_{{ da['id'] }}_{{ loop.index0 }}"
                                                               id="cb_{{ da['id'] }}_{{ loop.index0 }}"/>
                                                        <label for="cb_{{ da['id'] }}_{{ loop.index0 }}">
                                                            <img src="{{ link }}" alt="{{ link }}"/>
                                                        </label>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="modal-footer">

                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}