{% extends "base.html" %}
<style type="text/css">
    .center {
        position: absolute;
        top: 50px; /* height divided by 2*/
        left: 50px /* width divided by 2*/
    }
</style>
{% block content %}
    <div class="container">
        {% for message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ message[0] }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message[1] }}
            </div>
        {% endfor %}

        <form method="POST" enctype="multipart/form-data">
            {#        <input type="file" name="file">#}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                           aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
            <input type="submit" value="Upload" name="upload" class="btn btn-primary center">
        </form>
    </div>
{% endblock %}